@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($color, $texto) {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    margin-top: 2rem;
    padding: 1.5rem 3.5rem;
    text-align: center;
    color: $texto;
    text-decoration: none;
    border: none;
    border-radius: 5rem;
    background-color: $color;
    transition: all .3s ease;
    
    @include tablet { 
        padding: 1.7rem 7.5rem;
    }

    &:hover {
        cursor: pointer;
        color: v.$white;
        background-color: v.$lightPink;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}
